@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button type="button" class="btn btn-danger btn-lg btn-block">Enter Ankh-Morpork</button>
    <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href = '@Url.Action("ShowScoreTable", "Player")'">Score table</button>
</div>
