@model MVC_Task.ViewModels.CharacterViewModel
<h1>You have met an assassin</h1>
<button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("InteractionWithAssassin", "Assassins", Model)'">Pay guild some money</button>
<button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("PlayersDeath", "Player", Model)'">Reject the proposal</button>