@model MVC_Task.ViewModels.FoolViewModel

<h1>You've met fool @Model.Fool.MemberInfoEntity.Name</h1>

<input type="button" value="Help him" class="btn btn-danger" onclick="location.href = '@Url.Action("InteractionWithFool", "Fools", Model.Character)'">

<input type="button" value="Reject the proposal" class="btn btn-danger" onclick="location.href = '@Url.Action("PlayersDeath", "Player", Model.Character)'">