@model MVC_Task.ViewModels.BeggarViewModel

<h1>You've met beggar @Model.Beggar.MemberInfoEntity.Name</h1>

<input type="button" value="Pay him some money" class="btn btn-danger" onclick="location.href = '@Url.Action("InteractionWithBeggar", "Beggars", new {Model})'">
@*@Html.ActionLink("Pay him some money", "InteractionWithBeggar", "Beggars",Model, new { @class = "btn btn-primary" })*@
<input type="button" value="Reject the proposal" class="btn btn-danger" onclick="location.href = '@Url.Action("PlayersDeath", "Player", Model.Character)'">
